<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add products</title>
</head>
<body>
<section>
    <div class="dws-form">
        <form th:action="@{/product/updateProduct}" th:object="${product}" method="post">
            <input type="hidden" th:field="*{article}"/>
            <p>Brand ID </Brand><input class="input" type="text" th:field="*{idBrand}" placeholder="brand"/> </p>
            <p>Type ID <input class="input" type="text" th:field="*{idType}" placeholder="type"/> </p>
            <p>Category ID <input class="input" type="text" th:field="*{idCategory}" placeholder="category"/> </p>
            <p>Supplier ID <input class="input" type="text" th:field="*{idSupplier}" placeholder="supplier"/> </p>
            <p>Price <input class="input" type="text" th:field="*{price}" placeholder="price"/> </p>
            <input class="button" type="submit" value="Edit"/>
        </form>
    </div>
</section>

</body>

</html>